<section class="about">
    <div class="container">

        <figure class="about-banner">

            <img src="./assets/images/about-banner.png" alt="Eduland students" class="about-img">

            <img src="./assets/images/about-vector.svg" alt="Vector line art" class="vector-line">

            <button class="play-btn">
      <ion-icon name="play"></ion-icon>
    </button>

        </figure>

        <div class="about-content">

            <h2 class="h2 about-title">We Help to Create Possibility & Success in Your Career!</h2>

            <p class="section-text">
                Continually administrate process-centric human capital rather than bleeding-edge methodologies. Distinctively supply accurate methods of empowerment before.
            </p>

            <button class="btn btn-primary">Get Started Today</button>

        </div>

    </div>
</section>